# Dependency directory
node_modules

# Build directory
build/

# Environment variables
.env

# Metadata
metadata.json

# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml

# Log files
npm-debug.log
yarn-error.log

# Directory for deployed contracts, not needed in version control
deployed/

# Cache & Artifacts
cache/
artifacts/